/* CSS styling for basic portfolio site */


/* Global Styling */
body {
   font-family: Arial, Helvetica, sans-serif;
   background-color: gray;
   margin: 0px;
}

header {
   background-color: white;
   margin: 0px;
}

.container {   
   margin: auto;
   width: 960px;
   overflow: hidden;
   font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1 {
   float: left;
}

header li {
   
   display: inline;
}

section {
   width: 960px;
   margin: auto;
   position: relative;
   top: 50%;
   transform: translateY(50%);
   background-color: red;
}

section h2 {
   margin: 15px 15px;
   vertical-align: center;
}

footer {
   background-color: green;
   position: fixed;
   bottom: 0;
   margin: auto;
   width: 100%;
}